D:\work\Repos\Digital_System_design\RiscV32I_pipelined_processor\RISCV32I_pipelined_processor\RISCV32I_pipelined_project\RISCV32I_pipelined_project.runs

D:\work\Repos\Digital_System_design\RiscV32I_pipelined_processor\RISCV32I_pipelined_processor\RISCV32I_pipelined_project\RISCV32I_pipelined_project.sim

D:\work\Repos\Digital_System_design\RiscV32I_pipelined_processor\RISCV32I_pipelined_processor\RISCV32I_pipelined_project\RISCV32I_pipelined_project.cache
